#bookDisplay {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  aligh-items: flex-start;
}

label {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}
